@import "./base/variables";
@import "./base/listas";
@import "./parciales/hero.scss";
@import "./parciales/formulario.scss";

/* 
npm init
sass --watch scss/style.scss css/style.css 
*/


* {
  margin: 0;
  padding: 0;
}

body {
  font-weight: normal;
  font-style: normal;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  background-color: #4158d0;
  background-image: linear-gradient(
    43deg,
    #4158d0 0%,
    #c850c0 46%,
    #ffcc70 100%
  );
}



.dark-color {
  background-color: $navegacion;
}

.nav-link2 {
  color: white;
  &:hover {
    color: $colorhovers;
    transition: $hover_trasition_Speed;
  }
}

.bttn-color {
  background-color: $botones;
  border: none;
  &:hover {
    color: $colorhovers;
    background-color: $botones;
    transition: $hover_trasition_Speed;
  }
}

.navYfooter {
  background-color: $navegacion;
  padding: 24px;
}

.container,
.my-5 {
  background-color: $hero-background;
  div {
    color: black;
  }
}

h1,
.subtitulo {
  color: $titulo-hero; 
}

h2 {
  text-align: center;
  color: white;
}

.Productos {
  @include flex(row);
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  text-align: center;
  .Productos__child {
    margin: 20px;
    width: 100%;
  }
  p {
    text-align: center;
  }
}



.Contacto {
  margin: 10px;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  max-width: 850px;
  iframe {
    width: 100%;
  }
}

.contenidoIndex {
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  height: 300px;
}

.cards__bajada {
  margin-left: auto;
  margin-right: auto;
  border: solid 1px white;
  padding: 5px;
  width: 370px;
  height: 92px;
  overflow: hidden;
}




/*la idea de este css es para implementar generico a todos los botones*/
.bttn {
  display: block;
  background: $botones;
  width: 75%;
  color: white;
  padding: map-get($map: $mapbotones, $key: padding);
  margin: map-get($map: $mapbotones, $key: margin);
  cursor: pointer;
  transition: $hover_trasition_Speed;
  text-decoration: none;
  text-align: center;
  border-radius: 5px;
  &hover {
    background: #e74c3c;
  }
}

/*La siguiente media query es para que la grilla solo se aplique en desktop
  y para que se muestren los elementos en una sola columna en mobile*/

@media screen and (min-width: 768px) {
  .grilla {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 60px 25px 40px;
    grid-row-gap: 15px;
    grid-template-areas:
      "Footer__social Footer__social Footer__social"
      "newsletter_label newsletter_label button__newsletter"
      "newletter_input newletter_input button__newsletter";

    .newletter_label {
      grid-area: newsletter_label;
    }
    .newletter_input {
      grid-area: newletter_input;
    }
    .button__newsletter {
      grid-area: button__newsletter;
    }
    .Footer__social {
      grid-area: Footer__social;

    }
  }
}

/* para espacear lo iconos de social (solo se usa ahi)*/
.Footer__social{
@extend %disposicion
}

.navYfooter {
  .newsletter_label {
    color: white;
  }
  .button__newsletter {
    font-size: medium;
    margin-top: 40px;
  }
}

